<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - GET SKY BUY</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">

    <link rel="stylesheet" href="/files/css/Home2.css">
    <style> .containera{width:80%;margin:20px auto;padding:20px;background:#fff;border-radius:5px;box-shadow:0 0 10px rgba(0,0,0,0.1)}  .HRsadss{ text-align: center; color:#333} .HRsad{color:#333}p,ul{margin-bottom:20px}ul{padding-left:20px}a{color:#0066cc;text-decoration:none}a:hover{text-decoration:underline} @media (max-width:768px){.containera{width:95%;padding:10px}} </style>
</head>
<body>
    <header class="Header">
        <div class="Header_c">
            <div id="Logo_Search_Part" class="Logo_Search_Part">
                <div class="MENU_SIDE"><span id="MENU_SIDE_SPAN" class="material-symbols-outlined">menu</span></div>
                <!-- Search -->
                <div class="MOBILE_CART">
                    <a id="LICaartA1" href="/cart">
                        <span style="font-size: 25px;" class="material-symbols-outlined GSS">shopping_cart</span>
                        <span class="Caart_SPAN">Cart</span>
                        <span id="CART_NUMBER1dd" class="Cart_Number">#{Cart_No}</span>
                        <!-- <span id="CART_NUMBER1dd" class="Cart_Number">0</span> -->
                        <!-- CART NUMBER TEMPLETED -->
                    </a>
                </div>
                <div class="Main_Top">
                    <div class="LogO00">
                        <div class="BIG_LOGO">
                            <a title="GET SKY BUY" href="/?Source=Top_Left_logo">
                                <img src="/files/img/GSB_logo.png" alt="Logo">
                            </a>
                        </div>
                        <div class="UP_D">
                            <div class="Nav_GSB">
                                <a title="GET SKY BUY" href="/?Source=Top_Left_logo">
                                    <h1>GET SKY BUY</h1>
                                </a>
                            </div>
                            <div class="Explores">
                                <a title="GET SKY BUY" href="/?Source=Top_Left_logo">
                                    <span>Explore Now</span><img src="/files/img/GSB_logo.png" alt="Logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Search_Box_Main">
                    <div class="Search_1">
                        <div class="Search_2">
                            <form class="Search_3" action="/search" method="get">
                                <select name="Search_Type" id="Search_Type">
                                    <option value="All">All</option>
                                    <option value="Kids">Kids</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Kitchen">Kitchen</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Dress">Dress</option>
                                    <option value="Make up">Make up</option>
                                    <option value="Decoration">Decoration</option>
                                    <option value="Laptop">Laptop</option>
                                    <option value="Mobile">Mobile</option>
                                </select>
                                <input  id="Search_Main_Input" placeholder="Search for Products, Shops & Many more" type="text" name="Search" autocomplete="off" spellcheck="false" required>
                                <button class="DSDSDSDSDSDSDD" id="DSDSDSDSDSDSDD_S2" type="reset"><span class="material-symbols-outlined">close</span></button>
                                <button class="DSDSDSDSDSDSDD" id="DSDSDSDSDSDSDD_S" type="submit"><span class="material-symbols-outlined">search</span></button>
                                <div id="Search_Option_Box" class="Search_Option_Box">
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div id="Nav_Slide" class="Nav_Slide">
                <nav>
                    <ul>
                        <li id="LIstore">
                            <a id="LIstoreA" href="/store-shop">
                                <span class="material-symbols-outlined GI Shop">store</span>
                                <span class="LI Shop">Store/Shop</span>
                            </a>
                        </li>
                        <li id="LIProfile">
                            <div id="LIProfileA" href="/profile">
                                <span class="material-symbols-outlined GI Shop">person</span>
                                <span class="LI Shop">Profile</span>
                            </div>
                            <div id="Profile_OPTION_1">

                                <!-- <a href="/profile" class="Profile_Options_Nav2">Profile (Hi! <span>Rick</span>)</a> -->
                                | !{Login}
                                <a href="/profile" class="Profile_Options_Nav2">Profile (Hi! <span>#{Name}</span>)</a>
                                <a href="/orders" class="Profile_Options_Nav2">Orders/Returns</a>
                                <a href="/favorite" class="Profile_Options_Nav2">Favorite</a>
                                <a href="/cart" class="Profile_Options_Nav2">Cart</a>
                                <a href="/sb_coins" class="Profile_Options_Nav2">SB Coins</a>
                                <a href="/notification" class="Profile_Options_Nav2">Notification</a>
                                <a href="/help_center" class="Profile_Options_Nav2">Help center</a>
                                <a href="/contact_us" class="Profile_Options_Nav2">Contact us</a>
                                | !{Logout1}


                            </div>
                        </li>
                        <li id="LIMore">
                            <div id="LIMoreA" href="/more">
                                <span class="material-symbols-outlined DC GI More">expand_more</span>
                                <span class="LI More">More</span>
                            </div>
                            <div id="More_Down">
                                <a href="/download_app" class="More_Options">Download app</a>
                                <a href="/improve_us" class="More_Options">Improve us</a>
                                <a href="/register_a_complaint" class="More_Options">Register a complaint</a>
                                <a href="/customer_care" class="More_Options">Customer care</a>
                                <a href="/setting" class="More_Options">Setting</a>
                                <a href="/privacy_and_policy" class="More_Options">Privacy and policy</a>
                                <a href="/terms_and_conditions" class="More_Options">Terms and conditions</a>
                                <a href="/report_a_problem" class="More_Options">Report a problem</a>
                                </div>

                        </li>
                        <li id="LIFavourite">
                            <a id="LIFavouriteA" href="/favourite">
                                <span class="material-symbols-outlined GI Favourite">favorite</span>
                                <span class="LI Favourite">Favourite</span>
                            </a>
                        </li>
                        <li id="LICart">
                            <a id="LICartA" href="/cart">
                                <span style="font-size: 25px;" class="material-symbols-outlined GI CART_SHOPPING">shopping_cart</span>
                                <span class="LI Cart_SPAN">Cart</span>
                                <span id="CART_NUMBER" class="Cart_Number">#{Cart_No}</span>
                                <!-- <span id="CART_NUMBER" class="Cart_Number">0</span> -->
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div id="NEXT_HEAD" class="NEXT_HEAD">
            <div class="SLIDE_BTN_REV">
                <span id="SLIDE_BTN_REV_S" class="material-symbols-outlined">menu</span>
            </div>

            <div class="NEXT_HEAD_IMG">
                <a href="/">
                    <img src="/files/img/GSB_logo.png" alt="Logo">
                </a>
                <a class="Pdsa" href="/">
                    <h2>GET SKY BUY</h2>
                </a>
            </div>
            <nav>
                <ul>
                    <li id="LIstore1">
                        <a id="LIstoreA1" href="/store-shop">
                            <span class="material-symbols-outlined GI Shop">store</span>
                            <span class="LI Shop">Store/Shop</span>
                        </a>
                    </li>
                    <li id="LIProfile1">
                        <div id="LIProfileA1" href="/profile">
                            <span class="material-symbols-outlined GI Shop">person</span>
                            <span class="LI Shop">Profile</span>
                        </div>
                        <div id="Profile_OPTION_11">
                            | !{Login}
                            <a href="/profile" class="Profile_Options_Nav2">Profile (Hi! <span>#{Name}</span>)</a>
                            <a href="/orders" class="Profile_Options_Nav2">Orders/Returns</a>
                            <a href="/favorite" class="Profile_Options_Nav2">Favorite</a>
                            <a href="/cart" class="Profile_Options_Nav2">Cart</a>
                            <a href="/sb_coins" class="Profile_Options_Nav2">SB Coins</a>
                            <a href="/notification" class="Profile_Options_Nav2">Notification</a>
                            <a href="/help_center" class="Profile_Options_Nav2">Help center</a>
                            <a href="/contact_us" class="Profile_Options_Nav2">Contact us</a>
                            <!-- <a href="/logout" class="Profile_Options_Nav2">Logout</a> -->
                            | !{Logout1}


                        </div>
                    </li>
                    <li id="LIMore1">
                        <div id="LIMoreA1" href="/more">
                            <span class="material-symbols-outlined DC GI More">expand_more</span>
                            <span class="LI More">More</span>
                        </div>
                        <div id="More_Down1">
                            <a href="/download_app" class="More_Options">Download app</a>
                            <a href="/improve_us" class="More_Options">Improve us</a>
                            <a href="/register_a_complaint" class="More_Options">Register a complaint</a>
                            <a href="/customer_care" class="More_Options">Customer care</a>
                            <a href="/setting" class="More_Options">Setting</a>
                            <a href="/privacy_and_policy" class="More_Options">Privacy and policy</a>
                            <a href="/terms_and_conditions" class="More_Options">Terms and conditions</a>
                            <a href="/report_a_problem" class="More_Options">Report a problem</a>
                            </div>

                    </li>
                    <li id="LIFavourite1">
                        <a id="LIFavouriteA1" href="/favourite">
                            <span class="material-symbols-outlined GI Favourite">favorite</span>
                            <span class="LI Favourite">Favourite</span>
                        </a>
                    </li>
                    <li id="LICart1">
                        <a id="LICartA1" href="/cart">
                            <span style="font-size: 25px;" class="material-symbols-outlined GI CART_SHOPPING">shopping_cart</span>
                            <span class="LI Cart_SPAN">Cart</span>
                            <span id="CART_NUMBER1" class="Cart_Number">#{Cart_No}</span>
                        </a>
                    </li>
                </ul>
            </nav>
            

        </div>
    </header>


    <div class="containera">
        <h1 class="HRsadss">Privacy Policy</h1>
        <p>Welcome to GET SKY BUY. We value the trust you place in us and are committed to protecting and respecting your privacy. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website <a href="http://www.getskybuy.com">www.getskybuy.com</a>. Please read this policy carefully to understand our views and practices regarding your personal data and how we will treat it.</p>

        <h2 class="HRsad">1. Information We Collect</h2>
        <ul>
            <li><strong>Personal Information:</strong> Full name, email address, mobile number, creation of password (hashed), address, alternate mobile number, and payment details including bank account number, IFSC code, and beneficiary name for refund purposes.</li>
            <li><strong>Transaction Information:</strong> Details of products purchased, payment method, transaction amount, and date of purchase.</li>
            <li><strong>Technical Data:</strong> Internet Protocol (IP) address, browser type and version, time zone setting, browser plug-in types and versions, operating system and platform, and other technology on the devices you use to access this website.</li>
            <li><strong>Usage Data:</strong> Information about how you use our website, products, and services.</li>
        </ul>

        <h2 class="HRsad">2. How We Use Your Information</h2>
        <ul>
            <li><strong>To Process Transactions:</strong> To manage and process your purchases, payments, and refunds.</li>
            <li><strong>To Provide Customer Support:</strong> To respond to your inquiries, fulfill your requests, and provide customer service.</li>
            <li><strong>To Improve Our Services:</strong> To understand how our users interact with our website, and to improve our services and product offerings.</li>
            <li><strong>For Marketing:</strong> To send you promotional materials and updates about our products and services (optional).</li>
            <li><strong>For Security:</strong> To ensure the security of our website and your personal information.</li>
        </ul>

        <h2 class="HRsad">3. Legal Basis for Processing (GDPR)</h2>
        <ul>
            <li><strong>Performance of a Contract:</strong> To provide you with our products and services.</li>
            <li><strong>Legitimate Interests:</strong> To improve our services and ensure the security of our website.</li>
            <li><strong>Consent:</strong> For sending promotional materials, where you have given your consent.</li>
            <li><strong>Compliance with Legal Obligations:</strong> To comply with legal requirements.</li>
        </ul>

        <h2 class="HRsad">4. Disclosure of Your Information</h2>
        <ul>
            <li><strong>Service Providers:</strong> We use Razorpay for payment processing. Your payment information is shared securely with Razorpay for transaction processing.</li>
            <li><strong>Legal Requirements:</strong> If required by law to comply with legal processes, we may disclose your information to relevant authorities.</li>
        </ul>

        <h2 class="HRsad">5. Data Security</h2>
        <ul>
            <li><strong>Password Security:</strong> Your password is stored in a hashed form in our database, making it inaccessible to our employees.</li>
            <li><strong>Database Security:</strong> Our database is protected with high-security measures to prevent unauthorized access.</li>
            <li><strong>Data Use:</strong> We use your data for our development purposes only, to improve our services and provide better search results.</li>
        </ul>

        <h2 class="HRsad">6. International Data Transfers</h2>
        <p>Your information may be transferred to and maintained on servers located outside of your state, province, country, or other governmental jurisdiction where data protection laws may differ from those in your jurisdiction. We ensure that such transfers comply with applicable data protection laws and that your information remains protected.</p>

        <h2 class="HRsad">7. Data Retention</h2>
        <p>We will retain your personal data only for as long as necessary to fulfill the purposes we collected it for, including for the purposes of satisfying any legal, accounting, or reporting requirements.</p>

        <h2 class="HRsad">8. User Rights</h2>
        <ul>
            <li><strong>Access and Correction:</strong> You can access and update your personal data through your account settings.</li>
            <li><strong>Deletion:</strong> You can request the deletion of your account. Note that we retain order and cancellation information for record-keeping purposes.</li>
            <li><strong>Modification:</strong> You can modify your existing data except for order and cancellation records.</li>
        </ul>

        <h2 class="HRsad">9. Cookies and Tracking</h2>
        <p>Currently, we do not use any third-party cookies. We only utilize the Razorpay payment gateway, which does not track your browsing behavior.</p>

        <h2 class="HRsad">10. Children’s Privacy</h2>
        <p>Our services are not intended for individuals under the age of 13. We do not knowingly collect personal information from children under 13. If we become aware that we have inadvertently received personal information from a user under the age of 13, we will delete such information from our records.</p>

        <h2 class="HRsad">11. Automated Decision-Making</h2>
        <p>We do not engage in automated decision-making processes, including profiling, that significantly affect users.</p>

        <h2 class="HRsad">12. Do Not Track Signals</h2>
        <p>We do not respond to Do Not Track (DNT) signals. However, we adhere to the standards set out in this Privacy Policy and provide information about your choices regarding the collection, use, and disclosure of your personal data.</p>

        <h2 class="HRsad">13. Changes to This Privacy Policy</h2>
        <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page and, where appropriate, notified to you by email or through a notice on our website. Please check back frequently to see any updates or changes to our Privacy Policy.</p>

        <h2 class="HRsad">14. Contact Us</h2>
        <p>If you have any questions about this Privacy Policy, please contact us at:</p>
        <ul>
            <li><strong>Email:</strong> <a href="mailto:getskybuy@gmail.com">getskybuy@gmail.com</a></li>
            <li><strong>Phone:</strong> +91 8436431656</li>
            <li><strong>Address:</strong> Loknath Nagar, B.P Road, Bagdogra, Siliguri, Dist: Darjeeling, PIN: 734014, West Bengal, India</li>
        </ul>
    </div>
    
    <script src="/files/js/Home2.js"></script>    
</body>
</html>
