<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Assistant Leader | GET SKY BUY</title>
    
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/files/css/Assistant_Seller_Get.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

    <div id="Messageeeee">
        <div id="bakgg"></div>
        <div id="mess">Server_Error</div>

    </div>

    <div class="Aside_Ham" id="Aside_Ham">
        <h1 class="H1"><a title="Seller Assistant Leader" href="/assistant/seller">Product Assitant Leader</a></h1>
        <h3 class="H3"><a title="GSB - Home" href="/">GET SKY BUY</a></h3>
        <ul class="UL">
            <li>
                <button title="Home" type="Home" onclick="Li(100)">
                    <span id="Home" class="material-symbols-outlined">home</span>Home
                </button>
            </li>
            <li>
                <button title="Profile" type="button" onclick="Li(1)">
                    <span id="Profile_Side" class="material-symbols-outlined">person</span>Profile
                </button>
            </li>
            <li>
                <button title="Bank Account" type="button" onclick="Li(2)">
                    <span id="Bank_Side" class="material-symbols-outlined"> account_balance </span>Bank Account
                </button>
            </li>
            <li>
                <button title="Setting" type="button" onclick="Li(3)">
                    <span id="Setting_Side" class="material-symbols-outlined">settings</span>Setting
                </button>
            </li>
            <li>
                <button title="Logout" type="button" onclick="Li(4)">
                    <span id="Logout_Side" class="material-symbols-outlined">logout</span>Logout
                </button>
            </li>
        </ul>


        <div class="Boot" id="Boot">
            <p>
                <a href="mailto:skybuy.ceo@gmail.com">Send Mail</a><br>
                <a href="Change password">Change Password</a><br>
                <a href="Change profile data">Change Profile info</a><br>
                <a href="Privacy and policy">Privacy and Policy</a><br>
                <a href="Terms and conditions">Terms and Conditions</a>
            </p>
            <hr>
            <br>
        </div>

    </div>





    <div class="Sec" id="Sec">
        <div class="S_T">

            <div id="Ham_Side"><span class="material-symbols-outlined">Menu</span></div>
            <h2 class="H22">GET SKY BUY | Product assistant leader - <i>Rick Sarkar</i></h2>
            
        </div>
        <div id="Main_BOX">
            <div id="Homieo">
                <h3 class="asdas">Dashboard</h3>
                <nav>
                    <ul>
                        <li>
                            <button id="BTON_1" title="Task Pannel" type="button" onclick="Nav(1)">Task Pannel</button>
                        </li>
                        <li>
                            <button id="BTON_2" title="Stock" type="button" onclick="Nav(2)">Stock</button>
                        </li>
                        <li>
                            <button id="BTON_3" title="Add" type="button" onclick="Nav(3)">Add</button>
                        </li>
                        <li>
                            <button id="BTON_4" title="Modification" type="button" onclick="Nav(4)">Modification</button>
                        </li>
                        <li>
                            <button id="BTON_5" title="Seller" type="button" onclick="Nav(5)">Seller</button>
                        </li>
                        <li>
                            <button id="BTON_6" title="Seller Support" type="button" onclick="Nav(6)">Seller Support</button>
                        </li>
                        <li>
                            <button id="BTON_7" title="QnA" type="button" onclick="Nav(7)">QnA</button>
                        </li>
                    </ul>
                </nav>


                <div class="TaskP" id="DDDD_1">
                    <div class="NewTask">
                        <div class="NewTask1">
                            <div class="Mess">Congratulations, for being an Seller Assistant Leader</div>
                            <div class="DateN">19/09/2024 - 4:13pm</div>
                        </div>
                        <div class="Comme">Notification</div>
                    </div>

                </div>

                <div class="Stockss" id="DDDD_2">
                    <p>This is only for the products which is sold in the shop itself, so for that we have to arrange an arrangement for Availability of products as <i>Out of Stock</i> and <i>In Stock</i>. So for that you have to search for the product ID which is shared by the shop owner for updatation, by searching and validating the product make the product OUT OF STOCK and IN STOCK as per the instruction given be the shop owner.</p>
                    <div id="P_SSSS">
                        <label id="Product_DIIDL" for="Product_DIID">Product ID:</label>
                        <input type="text" placeholder="Product ID" id="Product_DIID" autocomplete="off" spellcheck="false">
                        <button id="Product_DIID_BTN" type="button" onclick="Product_ID_S();">Search</button>
                    </div>
                    <div id="DISPLAY_HIDEEE">
                        <form id="DSSDSDD">

                            <fieldset id="SSSSS">
                                <legend>Product details</legend>
                                <div class="Product_Title_T">
                                    <div class="BLACKK">Product Title:</div>
                                    <div class="BLACKKVAL"><i>Samsung galaxy S50 pro max | 8GB RAM - 128GB Storage | 6000mAh Battery | <a href="">Product Link</a></i></div>
                                </div>
                                
                                <div class="Product_Title_T">
                                    <div class="BLACKK">Product Prize:</div>
                                    <div class="BLACKKVAL"><i>Rs. 15,999</i></div>
                                </div>
                                <div class="Product_Title_T">
                                    <div class="BLACKK">Availability</div>
                                    <div class="BLACKKVAL"><i>In Stock</i></div>
                                    
                                    
                                </div>
                                <button type="reset" style="display: none;" id="RSSSSS"></button>
                            </fieldset>
                        </form>
                            

                        <div class="adsasadasdsa">
                            <label for="INSTOCK">Availability</label>
                            <input id="OSD" placeholder="Availabile products" type="number" autocomplete="off" spellcheck="false" autofocus>
                            <button id="sds" onclick="UPDATE();" type="submit">Change</button>
                        </div>
                        
                        
                        
                    </div>
                </div>







                <div class="Addss" id="DDDD_3">

                    <div id="Addddpro">
                        <h3><span id="P121" class="material-symbols-outlined">add</span>Add products</h3>
                        <p>Please fill all the spaces, if you are facing any problem then you can contact me: <a href="tel:+918436431656"><i>Click here</i></a></p>

                        <div class="Title_Div" id="Title_Div">
                            <label title="Seller_ID" for="Seller_ID">Seller ID:</label>
                            <input title="Seller_ID" type="text" id="Seller_ID" placeholder="Seller ID" autocomplete="off" spellcheck="false">
                            <button id="Seller_ID_BTN" type="button" onclick="SELLE_SEARCH();">Search</button>
                            <div id="VER">Verified<span class="material-symbols-outlined">verified</span></div>
                        </div>

                        <div class="FFOrm" id="FFOrmas">
                            <form id="Addd_PROOROOR">

                                <fieldset>
                                    <legend>Enter Product Details</legend>

                                    <h3 style="margin: 10px;"><span class="material-symbols-outlined cgfhbc"> description </span>Basic Product Info:</h3>
                                    
                                    
                                    
                                    
                                    <div class="Type1">
                                        <label for="Type1">Type: <span class="red">*</span></label>
                                        <select name="Type" id="Type1"></select>
                                    </div>
                                    <div class="Title_Div">
                                        <label title="Title" for="Title_Value" id="Title_ValueL">Title: <span class="red">*</span></label>
                                        <textarea name="Title" title="Title" type="text" id="Title_Value" placeholder="Title" autocomplete="off" spellcheck="false"></textarea>
                                    </div>
                                    <div class="MRP">
                                        <label title="MRP" for="MRP" id="MRPL">MRP: <span class="red">*</span></label>
                                        <input title="MRP" name="MRP" type="text" id="MRP" placeholder="MRP" autocomplete="off" spellcheck="false">
                                    </div>

                                    <div class="Cost_Pri">
                                        <label title="Cost price" for="Cost_price" id="Cost_priceL">Cost price: <span class="red">*</span></label>
                                        <input title="Cost price" name="Cost_Price" type="text" id="Cost_price" placeholder="Cost price" autocomplete="off" spellcheck="false">
                                        
                                        
                                    </div>
                                    <div class="Want_ToSell">
                                        <label title="Sell price" for="Sell_price" id="Sell_priceL">Sell price: <span class="red">*</span></label>
                                        <input title="Sell price" name="Sell_Price" type="text" id="Sell_price" placeholder="Sell price" autocomplete="off" spellcheck="false">
                                        
                                        
                                    </div>

                                    <div class="Options">

                                        <label title="Option" for="Option" id="OptionL">Option: <span class="red">*</span></label>
                                        <div id="FG1">

                                            <div id="Option__1" class="Option__">
                                                <input title="Option" name="Option1" type="text" id="Option1" placeholder="Option" autocomplete="off" spellcheck="false">
                                                <div id="Butnss1" class="Bttnnss">
                                                    <button class="Option__B" onclick="More_Option(2);" type="button">+ More options</button></div>
                                            </div>
                                            <div class="Option__" id="Option__2"></div>
                                            <div class="Option__" id="Option__3"></div>
                                            <div class="Option__" id="Option__4"></div>
                                            <div class="Option__" id="Option__5"></div>
                                            <div class="Option__" id="Option__6"></div>
                                            <div class="Option__" id="Option__7"></div>
                                            <div class="Option__" id="Option__8"></div>
                                            <div class="Option__" id="Option__9"></div>
                                            <div class="Option__" id="Option__10"></div>
                                            <div class="Option__" id="Option__11"></div>
                                            <div class="Option__" id="Option__12"></div>
                                            <div class="Option__" id="Option__13"></div>
                                            <div class="Option__" id="Option__14"></div>
                                            <div class="Option__" id="Option__15"></div>
                                            <div class="Option__" id="Option__16"></div>
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="Description">
                                        <label title="Description" for="Description" id="DescriptionL">Description: <span class="red">*</span></label>
                                        <textarea title="Description" type="text" name="Description" id="Description" placeholder="Description" autocomplete="off" spellcheck="false"></textarea>
                                        
                                        
                                    </div>

                                    <div class="Quantity_Available">
                                        <label title="Quantity_Available" for="Quantity_Available" id="Quantity_AvailableL">Quantity: <span class="red">*</span></label>
                                        <input title="Quantity_Available" type="number" name="Quantity_Available" id="Quantity_Available" placeholder="Quantity_Available" autocomplete="off" spellcheck="false">
                                        
                                        
                                    </div>
                                
                                    
                                    <div class="Brand">
                                        <label title="Brand Name" for="Brand_Name" id="Brand_NameL">Brand Name: <span class="red">*</span></label>
                                        <input title="Brand Name" name="Brand_Name" type="text" id="Brand_Name" placeholder="Brand Name" autocomplete="off" spellcheck="false">
                                        
                                    </div>
                                    <div class="HashTags">
                                        <label title="HashTags Name" for="HashTags_Name" id="HashTags_NameL">HashTags Name: <span class="red">(Please seperate HashTags by comma (,)</span></label>
                                        <input title="HashTags Name" name="HashTags" type="text" id="HashTags_Name" placeholder="HashTags Name" autocomplete="off" spellcheck="false">
                                        
                                    </div>
                                    
                                    <hr>
                                    <div  class="Table_Data">
                                        <h3 style="margin: 10px;"><span class="material-symbols-outlined GHSHS"> table_rows </span>Table format data: <span class="red">(You can enter 30 set of data)</span></h3>
                                        <div class="DIVVV" id="DIVVV1">
                                            <div id="key1"><input type="text" name="Inp_Key_1" placeholder="Key" id="Inp_Key_1"></div>
                                            <div id="Value1"><input type="text" name="Inp_Val_1" placeholder="Value" id="Inp_Val_1"></div>
                                            <div id="Add_MORE_KEYDIV1">
                                                <button type="button" class="Add_MORE_KEY" onclick="AddLine(2);">+ Add More</button>
                                            </div>
                                            
                                        </div>

                                        <div class="DIVVV" id="DIVVV1"></div>
                                        <div class="DIVVV" id="DIVVV2"></div>
                                        <div class="DIVVV" id="DIVVV3"></div>
                                        <div class="DIVVV" id="DIVVV4"></div>
                                        <div class="DIVVV" id="DIVVV5"></div>
                                        <div class="DIVVV" id="DIVVV6"></div>
                                        <div class="DIVVV" id="DIVVV7"></div>
                                        <div class="DIVVV" id="DIVVV8"></div>
                                        <div class="DIVVV" id="DIVVV9"></div>
                                        <div class="DIVVV" id="DIVVV10"></div>
                                        <div class="DIVVV" id="DIVVV11"></div>
                                        <div class="DIVVV" id="DIVVV12"></div>
                                        <div class="DIVVV" id="DIVVV13"></div>
                                        <div class="DIVVV" id="DIVVV14"></div>
                                        <div class="DIVVV" id="DIVVV15"></div>
                                        <div class="DIVVV" id="DIVVV16"></div>
                                        <div class="DIVVV" id="DIVVV17"></div>
                                        <div class="DIVVV" id="DIVVV18"></div>
                                        <div class="DIVVV" id="DIVVV19"></div>
                                        <div class="DIVVV" id="DIVVV20"></div>
                                        <div class="DIVVV" id="DIVVV21"></div>
                                        <div class="DIVVV" id="DIVVV22"></div>
                                        <div class="DIVVV" id="DIVVV23"></div>
                                        <div class="DIVVV" id="DIVVV24"></div>
                                        <div class="DIVVV" id="DIVVV25"></div>
                                        <div class="DIVVV" id="DIVVV26"></div>
                                        <div class="DIVVV" id="DIVVV27"></div>
                                        <div class="DIVVV" id="DIVVV28"></div>
                                        <div class="DIVVV" id="DIVVV29"></div>
                                        <div class="DIVVV" id="DIVVV30"></div>
                                    
                                    


                                    </div>

                                    <hr>



                                    <div>
                                        <h3 style="margin: 10px;"><span class="material-symbols-outlined JKSKDKS">add_a_photo</span> Image's: <span class="red">(Minimum 3 photos)</span></h3>
                                        <div>
                                            <label for="Image_1">1st Image <span class="red">*</span></label>
                                            <input type="file" name="Image_1" id="Image_1" accept="image/webp">
                                        </div>
                                        <div>
                                            <label for="Image_2">2nd Image <span class="red">*</span></label>
                                            <input type="file" name="Image_2" id="Image_2" accept="image/webp">
                                        </div>
                                        <div>
                                            <label for="Image_3">3rd Image <span class="red">*</span></label>
                                            <input type="file" name="Image_3" id="Image_3" accept="image/webp">
                                        </div>
                                        <div>
                                            <label for="Image_4">4th Image</label>
                                            <input type="file" name="Image_4" id="Image_4" accept="image/webp">
                                        </div>
                                        <div>
                                            <label for="Image_5">5th Image</label>
                                            <input type="file" name="Image_5" id="Image_5" accept="image/webp">
                                        </div>
                                        <div>
                                            <label for="Image_6">6th Image</label>
                                            <input type="file" name="Image_6" id="Image_6" accept="image/webp">
                                        </div>
                                        <div>
                                            <label for="Image_7">7th Image</label>
                                            <input type="file" name="Image_7" id="Image_7" accept="image/webp">
                                        </div>
                                        <div>
                                            <label for="Image_8">8th Image</label>
                                            <input type="file" name="Image_8" id="Image_8" accept="image/webp">
                                        </div>
                                        <div>
                                            <label for="Image_9">9th Image</label>
                                            <input type="file" name="Image_9" id="Image_9" accept="image/webp">
                                        </div>
                                        <div>
                                            <label for="Image_10">10th Image</label>
                                            <input type="file" name="Image_10" id="Image_10" accept="image/webp">
                                        </div>
                                            


                                    </div>


                                    <div id="SUUMM">
                                        <button type="button" id="SUBBBB">Submit</button>
                                    </div>
                                
                                
                                
                                </fieldset>
                            </form>
                        </div>
                        
                    </div>
                    


                </div>










                <div class="Modi" id="DDDD_4">
                    <!-- <div id="IFRAME">
                        <iframe src="http://localhost/products"></iframe>
                    </div> -->
                    <div id="MODI_MAIN">

                        
                        <!-- <div class="MOfit_IND">
                            <input type="text" placeholder="Enter product ID" autocomplete="off" spellcheck="false">
                            <button type="button" onclick="Modi_Sub();">Submit</button>
                        </div> -->
                        <div style=" font-size: 25px; display: flex; justify-content: center; align-items: center; width: 100%; height: 500px;">
                            <div>
                                <em><strong><u>Modification | COMING SOON</u></strong></em>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="Sellll" id="DDDD_5">
                    <div style=" font-size: 25px; display: flex; justify-content: center; align-items: center; width: 100%; height: 500px;">
                        <div>
                            <em><strong><u>Seller view | COMING SOON</u></strong></em>
                        </div>
                    </div>
                </div>
                <div class="SellllSupport" id="DDDD_6">
                    <div style=" font-size: 25px; display: flex; justify-content: center; align-items: center; width: 100%; height: 500px;">
                        <div>
                            <em><strong><u>Seller Support | COMING SOON</u></strong></em>
                        </div>
                    </div>
                </div>




































                <div class="QnAA" id="DDDD_7">
                    <div style=" font-size: 25px; display: flex; justify-content: center; align-items: center; width: 100%; height: 500px;">
                        <div>
                            <em><strong><u>COMING SOON</u></strong></em>
                        </div>
                    </div>
                </div>



















            </div>






            <div id="disss">
                <h4 class="H44">Profile (Personal Details)<span id="Croxx"><span class="material-symbols-outlined">Close</span></span></h4>
                <div id="St">
                    <div class="Ds">
                        <div>Profile ID: 7946564313</div>
                    </div>
                    <div class="Ds">
                        <div>
                            <label for="First_Name">First Name:</label>
                            | !{First_Name}
                        </div>
                        <div>
                            <label for="Last_Name">Last Name:</label>
                            <input type="text" id="Last_Name" value=#{Last_Name} disabled>
                        </div>
                    </div>
                    <div class="Ds">
                        <div>
                            <label for="Email">Email:</label>
                            <input type="text" id="Email" value=#{Email} disabled>
                        </div>
                        <div>
                            <label for="Mobile_Number">Mobile Number:</label>
                            <input type="text" id="Mobile_Number" value=#{Mobile_Number} disabled>
                        </div>
                    </div>
                    
                    <div class="Ds">
                        <div class="SA">
                            <label id="AddressL" for="Address">Address:</label>
                            <Address id="Address">
                                | !{Address}    
                            </Address>
                        </div>
                    </div>
                    <div class="Ds">
                        <div>
                            <label for="Age">Age:</label>
                            <input type="text" id="Age" value=#{AGE} disabled>
                        </div>
                        <div>
                            
                            <label for="Gender">Gender:</label>
                            <input type="text" id="Gender" value=#{GENDEER} disabled>
                        </div>
                    </div>
                    <div class="Ds">
                        <div>
                            <label for="Language">Language:</label>
                            | !{SALanguage}
                        </div>
                        <div>
                            
                            <label for="Assistant">Assistant:</label>
                            <input type="text" id="Assistant" value="Seller Assistant" disabled>
                        </div>
                    </div>
                    <div class="Ds">
                        <div>
                            <button title="Bank Account" type="button" id="OOOP" onclick="Li(2)">
                                <span>Go to</span>
                                <span id="Bank_Side1" class="material-symbols-outlined"> account_balance </span>Bank Account
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>




            <div id="BankkA">
                

                <h4 class="H44">Bank Account<span id="BankkA_CLo"><span class="material-symbols-outlined">Close</span></span></h4>
                
                <div id="St">
                    <div class="Ds">
                        <div>
                            <label for="Bank_Name">Bank Name:</label>
                            | !{BANK_N}
                            
                        </div>
                        <div>
                            
                            <label for="Account_Benificiary_Name">Benificiary Name:</label>
                            | !{Benificiary}
                            
                        </div>
                    </div>
                    
                    <div class="Ds">
                        <div>
                            <label for="Account_Number">Account Number:</label>
                            <input type="text" id="Account_Number" value=#{Account_Np} disabled>
                        </div>
                        <div>
                            
                            <label for="IFSC_Code">IFSC Code:</label>
                            <input type="text" id="IFSC_Code" value="#{IFSC_Code}" disabled>
                        </div>
                    </div>
                    
                    <div class="Ds">
                        <div>
                            <label for="UPI">UPI:</label>
                            <input type="text" id="UPI" value=#{UPI_NO} disabled>
                        </div>
                    </div>
                    <div class="Ds">
                        <!-- <table border="1" style="text-align: center; border-collapse: collapse; font-size: 13px;">
                            <tr>
                                <th style="padding: 5px 20px;">Date</th>
                                <th style="padding: 5px 20px;">Amount</th>
                                <th style="padding: 5px 20px;">Status</th>
                            </tr>
                            <tr>
                                <td style="padding: 5px 20px;">19/09/2024</td>
                                <td style="padding: 5px 20px;">Rs. 4,800</td>
                                <td style="padding: 5px 20px;">Pending</td>
                            </tr>
                        </table> -->
                    </div>
                    
                </div>
            </div>


            

            <div id="Setting_A">
                

                <h4 class="H44">Account Setting<span id="BankkA_CLoa"><span class="material-symbols-outlined">Close</span></span></h4>
                
                <div id="St">
                    <div class="Ds">
                        <div>
                            <label for="Available">Available:</label>
                            <select name="" id="Available" disabled>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                            <button type="button">Submit</button>
                        </div>
                        <div>
                        </div>





                    </div>

                </div>
            </div>















            
        </div>
    </div>


    <script src="/files/js/Assistant_Seller_Get.js"></script>
</body>
</html>