<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Assistant Leader | GET SKY BUY</title>
    
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/files/css/Seller_Assistant_Get.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

    <div id="Messageeeee">
        <div id="bakgg"></div>
        <div id="mess">Server_Error</div>

    </div>

    <div class="Aside_Ham" id="Aside_Ham">
        <h1 class="H1"><a title="Seller Assistant Leader" href="/assistant/seller">Seller Assitant Leader</a></h1>
        <h3 class="H3"><a title="GSB - Home" href="/">GET SKY BUY</a></h3>
        <ul class="UL">
            <li>
                <button title="Home" type="Home" onclick="Li(100)">
                    <span id="Home" class="material-symbols-outlined">home</span>Home
                </button>
            </li>
            <li>
                <button title="Profile" type="button" onclick="Li(1)">
                    <span id="Profile_Side" class="material-symbols-outlined">person</span>Profile
                </button>
            </li>
            <li>
                <button title="Bank Account" type="button" onclick="Li(2)">
                    <span id="Bank_Side" class="material-symbols-outlined"> account_balance </span>Bank Account
                </button>
            </li>
            <li>
                <button title="Setting" type="button" onclick="Li(3)">
                    <span id="Setting_Side" class="material-symbols-outlined">settings</span>Setting
                </button>
            </li>
            <li>
                <button title="Logout" type="button" onclick="Li(4)">
                    <span id="Logout_Side" class="material-symbols-outlined">logout</span>Logout
                </button>
            </li>
        </ul>


        <div class="Boot" id="Boot">
            <p>
                <a href="mailto:skybuy.ceo@gmail.com">Send Mail</a><br>
                <a href="Change password">Change Password</a><br>
                <a href="Change profile data">Change Profile info</a><br>
                <a href="Privacy and policy">Privacy and Policy</a><br>
                <a href="Terms and conditions">Terms and Conditions</a>
            </p>
            <hr>
            <br>
        </div>

    </div>





    <div class="Sec" id="Sec">
        <div class="S_T">

            <div id="Ham_Side"><span class="material-symbols-outlined">Menu</span></div>
            <h2 class="H22">GET SKY BUY | Seller assistant leader - <i>Rick Sarkar</i></h2>
            
        </div>
        <div id="Main_BOX">
            <div id="Homieo">
                <h3 class="asdas">Dashboard</h3>
                <nav>
                    <ul>
                        <li>
                            <button id="BTON_1" title="Add" type="button" onclick="Nav(1)">Add</button>
                        </li>
                        <li>
                            <button id="BTON_2" title="Modification" type="button" onclick="Nav(2)">Modification</button>
                        </li>
                        <li>
                            <button id="BTON_3" title="Seller" type="button" onclick="Nav(3)">Seller List</button>
                        </li>
                        <li>
                            <button id="BTON_4" title="Seller Support" type="button" onclick="Nav(4)">Product List</button>
                        </li>
                    </ul>
                </nav>










































































                <div class="AddP" id="DDDD_1">
                    <div class="pad30">
                        <form id="INOPPT">
                            <fieldset>
                                <legend>Personal Details</legend>

                                
                                <input type="text" placeholder="Name" autocomplete="off" spellcheck="off" name="Name">
                                <input type="text" placeholder="Mobile Number" autocomplete="off" maxlength="10" spellcheck="off" name="Mobile_Number">
                                <input type="text" name="WP_No" placeholder="WhatsApp No" maxlength="10" autocomplete="off" spellcheck="off">
                                <input type="text" name="Email" placeholder="Email" autocomplete="off" spellcheck="off">
                                <h5>Home address</h5>
                                <input type="text" name="State" placeholder="State" autocomplete="off" spellcheck="off">
                                <input type="text" name="Dist" placeholder="District" autocomplete="off" spellcheck="off">
                                <input type="text" name="PINcode" placeholder="PIN code" autocomplete="off" spellcheck="off">
                                <input type="text" name="City" placeholder="City" autocomplete="off" spellcheck="off">
                                <input type="text" name="Town" placeholder="Town" autocomplete="off" spellcheck="off">
                                <input type="text" name="Locality" placeholder="Locality/landmark" autocomplete="off" spellcheck="off">
                                <input type="text" name="Language" placeholder="Language" autocomplete="off" spellcheck="off">
                                <input type="text" name="Age" placeholder="Age" autocomplete="off" spellcheck="off">
                                <input type="text" name="Gender" placeholder="Gender" autocomplete="off" spellcheck="off">
                           
                                <input type="text" name="Bank_Name" placeholder="Bank Name" autocomplete="off" spellcheck="off">
                                <input type="text" name="Account_NO" placeholder="Account_NO" autocomplete="off" spellcheck="off">
                                <input type="text" name="Beneficiary_Name" placeholder="Beneficiary Name" autocomplete="off" spellcheck="off">
                                <input type="text" name="IFSC" placeholder="IFSC" autocomplete="off" spellcheck="off">
                                <input type="text" name="UPI" placeholder="UPI" autocomplete="off" spellcheck="off">
                            </fieldset>
                            <fieldset>
                                <legend>Shop Details</legend>

                                <input type="text" name="Name_of_Shop" placeholder="Name of Shop" autocomplete="off" spellcheck="off">
                                <input type="text" name="Type_of_Shop" placeholder="Type of Shop" autocomplete="off" spellcheck="off">
                                <h5>Shop address</h5>
                                <input type="text" name="State_Shop" placeholder="State Shop" autocomplete="off" spellcheck="off">
                                <input type="text" name="Dist_Shop" placeholder="Dist Shop" autocomplete_Shop="off" spellcheck="off">
                                <input type="text" name="PINcode_Shop" placeholder="PIN code of Shop" autocomplete="off" spellcheck="off">
                                <input type="text" name="City_Shop" placeholder="City Shop" autocomplete="off" spellcheck="off">
                                <input type="text" name="Town_Shop" placeholder="Town Shop" autocomplete="off" spellcheck="off">
                                <input type="text" name="Locality_Shop" placeholder="Locality Shop" autocomplete="off" spellcheck="off">
                            </fieldset>
                            
                            <button id="SUDUSAD" type="button" style="width: 150px; padding: 6px 9px; margin: 10px 4px; cursor: pointer;">Continue</button>
                            <button type="reset" style="width: 150px; padding: 6px 9px; margin: 10px 4px; cursor: pointer;">Reset</button>

                        </form>
                            
                            
                    </div>
                </div>
                <div class="ModificationP" id="DDDD_2">
                    <div class="pad30">
                        <div style=" font-size: 25px; display: flex; justify-content: center; align-items: center; width: 100%; height: 500px;">
                            <div>
                                <em><strong><u>Modification | COMING SOON</u></strong></em>
                            </div>
                        </div></div>
                </div>
                <div class="Seller_List" id="DDDD_3">        
                    <div class="pad30">
                        <div style=" font-size: 25px; display: flex; justify-content: center; align-items: center; width: 100%; height: 500px;">
                            <div>
                                <em><strong><u>Seller List | COMING SOON</u></strong></em>
                            </div>
                        </div></div>
                </div>
                <div class="Product_List" id="DDDD_4">
                    <div class="pad30">
                        <div style=" font-size: 25px; display: flex; justify-content: center; align-items: center; width: 100%; height: 500px;">
                            <div>
                                <em><strong><u>Product List | COMING SOON</u></strong></em>
                            </div>
                        </div></div>
                </div>
            </div>
            <div id="disss">
                <h4 class="H44">Profile (Personal Details)<span id="Croxx"><span class="material-symbols-outlined">Close</span></span></h4>
                <div id="St">
                    <div class="Ds">
                        <div>Profile ID: 7946564313</div>
                    </div>
                    <div class="Ds">
                        <div>
                            <label for="First_Name">First Name:</label>
                            | !{First_Name}
                        </div>
                        <div>
                            <label for="Last_Name">Last Name:</label>
                            <input type="text" id="Last_Name" value=#{Last_Name} disabled>
                        </div>
                    </div>
                    <div class="Ds">
                        <div>
                            <label for="Email">Email:</label>
                            <input type="text" id="Email" value=#{Email} disabled>
                        </div>
                        <div>
                            <label for="Mobile_Number">Mobile Number:</label>
                            <input type="text" id="Mobile_Number" value=#{Mobile_Number} disabled>
                        </div>
                    </div>
                    
                    <div class="Ds">
                        <div class="SA">
                            <label id="AddressL" for="Address">Address:</label>
                            <Address id="Address">
                                | !{Address}    
                            </Address>
                        </div>
                    </div>
                    <div class="Ds">
                        <div>
                            <label for="Age">Age:</label>
                            <input type="text" id="Age" value=#{AGE} disabled>
                        </div>
                        <div>
                            
                            <label for="Gender">Gender:</label>
                            <input type="text" id="Gender" value=#{GENDEER} disabled>
                        </div>
                    </div>
                    <div class="Ds">
                        <div>
                            <label for="Language">Language:</label>
                            | !{SALanguage}
                        </div>
                        <div>
                            
                            <label for="Assistant">Assistant:</label>
                            <input type="text" id="Assistant" value="Seller Assistant" disabled>
                        </div>
                    </div>
                    <div class="Ds">
                        <div>
                            <button title="Bank Account" type="button" id="OOOP" onclick="Li(2)">
                                <span>Go to</span>
                                <span id="Bank_Side1" class="material-symbols-outlined"> account_balance </span>Bank Account
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>




            <div id="BankkA">
                

                <h4 class="H44">Bank Account<span id="BankkA_CLo"><span class="material-symbols-outlined">Close</span></span></h4>
                
                <div id="St">
                    <div class="Ds">
                        <div>
                            <label for="Bank_Name">Bank Name:</label>
                            | !{BANK_N}
                            
                        </div>
                        <div>
                            
                            <label for="Account_Benificiary_Name">Benificiary Name:</label>
                            | !{Benificiary}
                            
                        </div>
                    </div>
                    
                    <div class="Ds">
                        <div>
                            <label for="Account_Number">Account Number:</label>
                            <input type="text" id="Account_Number" value=#{Account_Np} disabled>
                        </div>
                        <div>
                            
                            <label for="IFSC_Code">IFSC Code:</label>
                            <input type="text" id="IFSC_Code" value="#{IFSC_Code}" disabled>
                        </div>
                    </div>
                    
                    <div class="Ds">
                        <div>
                            <label for="UPI">UPI:</label>
                            <input type="text" id="UPI" value=#{UPI_NO} disabled>
                        </div>
                    </div>
                    <div class="Ds">
                        <!-- <table border="1" style="text-align: center; border-collapse: collapse; font-size: 13px;">
                            <tr>
                                <th style="padding: 5px 20px;">Date</th>
                                <th style="padding: 5px 20px;">Amount</th>
                                <th style="padding: 5px 20px;">Status</th>
                            </tr>
                            <tr>
                                <td style="padding: 5px 20px;">19/09/2024</td>
                                <td style="padding: 5px 20px;">Rs. 4,800</td>
                                <td style="padding: 5px 20px;">Pending</td>
                            </tr>
                        </table> -->
                    </div>
                    
                </div>
            </div>


            

            <div id="Setting_A">
                

                <h4 class="H44">Account Setting<span id="BankkA_CLoa"><span class="material-symbols-outlined">Close</span></span></h4>
                
                <div id="St">
                    <div class="Ds">
                        <div>
                            <label for="Available">Available:</label>
                            <select name="" id="Available" disabled>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                            <button type="button">Submit</button>
                        </div>
                        <div>
                        </div>





                    </div>

                </div>
            </div>















            
        </div>
    </div>


    <script src="/files/js/Seller_Assistant_Get.js"></script>
</body>
</html>